* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Root */

:root {
    --primary-color: hsl(222, 100%, 60%);
    --primary-hover: hsl(222, 100%, 66%);
}

body {
    background: #eee;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: white;
    max-width: 87%;
    width: 420px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #ccc;
}

h1 {
    color: var(--primary-color);
}


/* ~ ~ ~ ~ ~ ~ Display ~ ~ ~ ~ ~ ~  */

.display-section {
    width: 90%;
    height: 60px;
    position: relative;
}

.display-section #display {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: #eee;
    font-size: large;
}

#copy {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s;
}

#copy:hover {
    transform: translateY(-50%) scale(1.2);
}

#copy:active {
    transform: translateY(-50%) scale(1);
}


/* ~ ~ ~ ~ ~ ~ Range ~ ~ ~ ~ ~ ~  */

.range {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.range #slider {
    width: 80%;
    accent-color: var(--primary-color);
}

.range span {
    font-size: large;
    padding: 3px 3px;
}


/* ~ ~ ~ ~ ~ ~ Options ~ ~ ~ ~ ~ ~  */

.options {
    width: 90%;
    height: 120px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-one , .section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.item {
    width: 150px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0px 6px;
}

.item label {
    margin-left: 6px;
}

.checkbox {
    width: 21px;
    height: 21px;
}


/* ~ ~ ~ ~ ~ ~ Button ~ ~ ~ ~ ~ ~  */

#btn {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    padding: 6px;
}

#btn:hover {
    transform: scale(1.05);
    background: var(--primary-hover);
}

#btn:active {
    transform: scale(1);
    background: var(--primary-color);
}

#btn img {
    margin: 6px;
}


/* ------------ Mobile ------------  */

@media (max-width: 480px) {

    h1 {
        font-size: 27px;
    }

    .options {
        height: 180px;
    }

    .section-one , .section-two {
        flex-direction: column;
        margin: 0px;
    }

    .item {
        margin: 6px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 24px;
    }
}